<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
	  Name="NetYtDownloader"
	  Manufacturer="NetYtDownloader"
	  Version="0.0.1"
	  UpgradeCode="01699888-d7ab-49c3-ab6e-3591082af022"
	  Scope="perMachine">

		<MajorUpgrade DowngradeErrorMessage="Uma versão mais nova já está instalada." />

		<MediaTemplate EmbedCab="yes" />

		<!-- 🔥 Ícone do instalador -->
		<Icon Id="AppIcon" SourceFile="../GUI/Assets/icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="AppIcon" />

		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="NetYtDownloader" />
		</StandardDirectory>

		<StandardDirectory Id="DesktopFolder" />
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="NetYtDownloader" />
		</StandardDirectory>

		<Feature Id="MainFeature" Title="NetYtDownloader" Level="1">
			<ComponentGroupRef Id="AppFiles" />
			<ComponentRef Id="ApplicationShortcuts" />
		</Feature>

		<ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
			<Files Include="$(var.PublishDir)\**\*" />
		</ComponentGroup>

		<Component Id="ApplicationShortcuts"
				   Directory="ApplicationProgramsFolder"
				   Guid="*">

			<!-- 🔥 Atalho Menu Iniciar -->
			<Shortcut Id="StartMenuShortcut"
					  Name="NetYtDownloader"
					  Description="Abrir NetYtDownloader"
					  Target="[INSTALLFOLDER]GUI.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon="AppIcon"
					  IconIndex="0" />

			<!-- 🔥 Atalho Desktop -->
			<Shortcut Id="DesktopShortcut"
					  Directory="DesktopFolder"
					  Name="NetYtDownloader"
					  Description="Abrir NetYtDownloader"
					  Target="[INSTALLFOLDER]GUI.exe"
					  WorkingDirectory="INSTALLFOLDER"
					  Icon="AppIcon"
					  IconIndex="0" />

			<RemoveFolder Id="RemoveApplicationProgramsFolder"
						  Directory="ApplicationProgramsFolder"
						  On="uninstall" />

			<RegistryValue Root="HKCU"
						   Key="Software\NetYtDownloader"
						   Name="installed"
						   Type="integer"
						   Value="1"
						   KeyPath="yes" />
		</Component>

	</Package>
</Wix>